
@{
    ViewBag.Title = "Mainpage";
}

<h2>Mainpage</h2>

@Html.ActionLink("Dishes", "GetDishes")
@Html.ActionLink("Types", "GetTypes")
@Html.ActionLink("Ingredients", "GetIngredients")

@Html.ActionLink("Search", "Index","Search")
